pandas==2.2.3
numpy==2.1.2
scipy==1.15.1
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.6.1
imbalanced-learn==0.13.0
statsmodels==0.14.4
phik==0.12.4
ydata-profiling==4.16.1
tqdm==4.66.5
kneed==0.8.5